# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Logs
logs/

# Screenshots
screenshots/

# Model Weights
weights/

# Dataset
datasets/

# OS Files
.DS_Store
Thumbs.db