# Virtual Environment
.venv/
env/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/

# Screenshots
screenshots/

# Model Weights
models/*.pt
weights/
runs/

# Dataset
datasets/

# OS Files
.DS_Store
Thumbs.db